*{
    margin: 0;
    padding: 0;
}
main{
    width: 1400px;
    height: 200px;
   
}
nav{
    width: 1200px;
    height: 200px;
    background-color: black;
}
#logo{
    width: 200px;
    height: 200px;
    color: aliceblue;
    text-align: left;
    w
}
ul{
    width: 200px;
    height: 200px;
    color: aliceblue;
    text-align: left;
}
