*{
    margin: 0;
    padding: 0;
}
#main{
    width: 1200px;
    height: 700px;
}
#header{
    width: 1200px;
    height: 100px;
    display: flex ;
}
#header1{
    width: 200px;
    height: 100px;
    background-color: aqua;
}
#header2{
    width: 1000px;
    height: 100px;
    background-color: yellow;
}
#content{
    width: 1200px;
    height: 300px;
    background-color: beige;
}
#nav{
    width: 1200px;
    height: 200px;
    display: flex;
}
#nav1{
    width: 400px;
    height: 200px;
    background-color: blue;
}
#nav2{
    width: 400px;
    height: 200px;
    background-color: rgb(132, 255, 32);
}
#nav3{
    width: 400px;
    height: 200px;
    background-color: rgb(236, 15, 15);
}
#footer{
   width: 1200px;
   height: 100px; 
   background-color: darkcyan;
   display: flex;
}
#footer1{
    width: 200px;
    height: 100px;
    background-color: aqua;
}
#footer2{
    width: 1000px;
    height: 50px;
    background-color: black;
}





